*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 10px;
}
.logo{
    margin-left: 60px;
    margin-top: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color:#484f4f;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 500px;
}
.col-2img {
    max-width: 100%;
}
.col-2 h1{
    color: #484f4f;
    margin-left: 70px;
    font-size: 40px;
    line-height: 40px;
}
.col-2 p{
    color: #484f4f;
    margin-left: 70px;
    margin-top: 20px;
    font-size: 20px;
    line-height: 25px;
}
.btn{
    margin-left: 70px;
    display: inline-block;
    background: #e06377;
    color: #fff;
    padding: 8px 30px;
    margin-top: 25px;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #c83349;
}
.header{
    background: radial-gradient(#fff, #f9d5e5)
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 30px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 30px;
    color: #484f4f;
}
.rating .fa{
    color: #e06377;
}
.col-4:hover{
    transform: translateY(-7px);
}

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #e06377;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .cart-info p{
        display: none;
    }
}

/*-------cart stuff--------*/

.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #e06377;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #e06377;
    font-size: 12px;
}
td img{
    width: 100px;
    height: 120px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #e06377;
    width: 100%;
    max-width: 370px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

/*------- account page -------*/
.account-page{
    padding: 50px 0px;
    background: radial-gradient(#fff, #f9d5e5);
}
.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
}